pipeline/pl_get_secrets.json
{
	"name": "pl_get_secrets",
	"properties": {
		"activities": [
			{
				"name": "get secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://keystore469.vault.azure.net/secrets/databricks-access-token/cebba04ba9e34f349fb7134ad3accfc4?api-version=7.0",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": {
							"value": "https://vault.azure.net",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set secret value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "secret_value",
					"value": {
						"value": "@activity('get secret').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"secret_value": {
				"type": "String"
			}
		},
		"annotations": []
	}
}